/* Local reset */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
a {
    text-decoration: none; 
    color: inherit; 
    cursor: pointer;
}
  
button {
    background-color: transparent; 
    color: inherit; 
    border-width: 0; 
    cursor: pointer;
}

/*
h1, h2, h3, h4, h5, h6{
    font-size: inherit; 
    font-weight: inherit;
}
*/
  
ul, ol, dd{
    list-style: none;
}
  
cite {
    font-style: normal;
}
  
fieldset {
    border-width: 0;
}

[href] {
    text-decoration: none;
    color: black;
    @include link-hover(bold, inherit, inherit);
}
  