<!DOCTYPE html>
<html lang="en">

<!-- Meta input -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../sass/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../JS scripts/contactValidation.js" defer></script>
    <title>Contact</title>
</head>

<body>

    <!-- Header-->
    <header id="base-header">

        <!-- Navigation Menu Mobile -->
        <div class="mobile-nav">
            <a href="home.html" class="active">ezMTO</a>
            <!-- Navigation Links (hidden by default) -->
            <div id="myLinks">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#">Login</a>
            </div>
            <!-- JS to Toggle Navigation Bar-->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <!-- Navigation Menu Desktop -->
        <div class="desktop-nav">
            <p>ezMTO</p>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">LogIn</a></li>
            </ul>
        </div>
    </header>

    <main class="contact">
        <article class="contact-form">
            <header>
                <h1>CONTACT US</h1>
                <p>If you are interested in testing out our software or just want to learn more we
                        would love to hear from you! Submit your contact info below, and we will reach out shortly.</p>
            </header>

            <div class="errors" role="alert" aria-relevant="all">
                <ul>

                </ul>
            </div>
            <form action="home.html" method="post">
                <div class="first-name">
                    <label for="first-name">First name</label>
                    <input type="text" name="first-name" id="first-name">
                </div>
                <div class="last-name">
                    <label for="last-name">Last name</label>
                    <input type="text" name="last-name" id="last-name">
                </div>
                <div class="email">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="phone">
                    <label for="phone">Phone Number</label>
                    <input type="tel" name="phone" id="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
                </div>
                <div class="position">
                    <label for="position">Position</label>
                    <input type="text" name="position" id="position">
                </div>
                <div class="company-name">
                    <label for="company-name">Company Name</label>
                    <input type="text" name="company-name" id="company-name">
                </div>
                <div class="company-location">
                    <label for="company-location">Location of Company</label>
                    <input type="text" name="company-location" id="company-location">
                </div>
                <div class="company-type">
                    <label for="company-type">Type of Company</label>
                    <input list="company-types" name="company-type" id="company-type">
                    <datalist id="company-types">
                        <option value="EPC">
                        <option value="Fabrication Shop">
                        <option value="Both"> 
                    </datalist>
                </div>
                <div class="additional-info">
                    <label for="additional-info">Additional info you would like included with your message.</label>
                    <textarea name="additional-info" id="additional-info"></textarea>
                </div>
                <div class="submit">
                    <button type="submit" class="button">Submit Info</button>
                </div>
            </form>
        </article>
    </main>

    <!-- Fixed Menu at bottom of page -->
    <aside id='fixed-menu'>
        <button class="button"><a href="#">Click Here for a Free Trial</a></button>
    </aside>

    <!-- Footer for all pages -->
    <footer class="base-footer">
        <div class="pre-footer">

            <!-- Footer for SM and below -->
            <div id="mobile-footer">
                <button type="button" class="button">Enroll in a free trial today!</button>
            </div>

            <!-- Footer for MD and above -->
            <div id="desktop-footer">
                <p>Enroll in a free trial today!<span><button type="button" class="button">Click Here</button></span></p>
            </div>
        </div>

        <!-- Footer navbar -->
        <nav id="footer-navbar">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Log In</a>
        </nav>
    </footer>
</body>