$breakpoint-phone: 768px;

$breakpoint-tablet: 1200px;

$bootstrap-blue: #0d6efd;

$standard-border: 1px solid gainsboro;

$menu-background: whitesmoke;

$card-header: (
    text-transform: uppercase,
    margin-top: 2%,
    margin-bottom: 2%,
);